<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="https://www.nuget.org/api/v2/" value="https://www.nuget.org/api/v2/" />
    <add key="NuGet" value="https://api.nuget.org/v3/index.json" />
    <add key="Invenietis - Preview" value="https://www.myget.org/F/invenietis-preview/api/v3/index.json" protocolVersion="3" />
    <add key="Glouton - Preview" value="https://www.myget.org/F/glouton-preview/api/v3/index.json" protocolVersion="3" />
  </packageSources>
  <disabledPackageSources>
    <add key="Microsoft and .NET" value="true" />
  </disabledPackageSources>
</configuration>