<form (ngSubmit)="onSubmit()" #applicationNameForm="ngForm">
    <div class="row" *ngIf="_applicationNames">
        <div *ngFor="let applicationName of _applicationNames; let i = index">
            <input type="radio" [(ngModel)]="_selectedApplicationNameIndex"
            name="applicationNames" value={{i}}
            required>
            {{applicationName}}
        </div>
        <div>
            <button type="submit"
                    [disabled]="!applicationNameForm.valid">
                Get Logs
            </button>
        </div>
    </div>
</form>

<div *ngIf="_logs">
    <h4>Logs</h4>
    <div *ngFor="let log of _logs">
        {{log.logLevel}} {{log.logTime}}:<br>
            {{log.text}}<br>
            \-> from {{log.sourceFileName}} ({{log.lineNumber}})<br><br>
    </div>
</div>