<div class="ui-g">
    <div class="ui-g-12"><p-checkbox name="criticity" value="debug" label="Debug" [(ngModel)]="criticityLevel" inputId="d" (onChange)="onChange($checked)"></p-checkbox></div>
    <div class="ui-g-12"><p-checkbox name="criticity" value="trace" label="Trace" [(ngModel)]="criticityLevel" inputId="t" (onChange)="onChange($checked)"></p-checkbox></div>
    <div class="ui-g-12"><p-checkbox name="criticity" value="info" label="Info" [(ngModel)]="criticityLevel" inputId="i" (onChange)="onChange($checked)"></p-checkbox></div>
    <div class="ui-g-12"><p-checkbox name="criticity" value="warn" label="Warn" [(ngModel)]="criticityLevel" inputId="w" (onChange)="onChange($checked)"></p-checkbox></div>
    <div class="ui-g-12"><p-checkbox name="criticity" value="error" label="Error" [(ngModel)]="criticityLevel" inputId="e" (onChange)="onChange($checked)"></p-checkbox></div>
    <div class="ui-g-12"><p-checkbox name="criticity" value="fatal" label="Fatal" [(ngModel)]="criticityLevel" inputId="f" (onChange)="onChange($checked)"></p-checkbox></div>
</div>