<div class="ui-g" style="width:250px;margin-bottom:10px">
    <div class="ui-g-12"><p-checkbox name="group1" value="debug" label="Debug" [(ngModel)]="criticityLevel" inputId="d" (onChange)="onChange($checked)"></p-checkbox></div>
    <div class="ui-g-12"><p-checkbox name="group1" value="trace" label="Trace" [(ngModel)]="criticityLevel" inputId="t" (onChange)="onChange($checked)"></p-checkbox></div>
    <div class="ui-g-12"><p-checkbox name="group1" value="info" label="Info" [(ngModel)]="criticityLevel" inputId="i" (onChange)="onChange($checked)"></p-checkbox></div>
    <div class="ui-g-12"><p-checkbox name="group1" value="warn" label="Warn" [(ngModel)]="criticityLevel" inputId="w" (onChange)="onChange($checked)"></p-checkbox></div>
    <div class="ui-g-12"><p-checkbox name="group1" value="error" label="Error" [(ngModel)]="criticityLevel" inputId="e" (onChange)="onChange($checked)"></p-checkbox></div>
    <div class="ui-g-12"><p-checkbox name="group1" value="fatal" label="Fatal" [(ngModel)]="criticityLevel" inputId="f" (onChange)="onChange($checked)"></p-checkbox></div>
</div>