.data {
    margin-left: 15%;
    margin-top: 15px;
}

.main {
    font-family: 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif';
    color: #292B2C;
}

.card {
    border: 1px solid #000000;
    padding: 1em;
    margin-top: 1em;
    -moz-border-radius:7px;
    -webkit-border-radius:7px;
    border-radius:7px;
}

.card h1 {
    font-weight: 400;
    margin: 24px 0;
    font-size: 25px;
}