<div *ngIf="data || data.length > 0" class="card card-w-tittle">
    <h2>Your alert</h2>
    <p-table [value]="data">
        <ng-template pTemplate="header">
            <tr>
                <th colspan="3">Alert</th>
                <th rowspan="2">Sender</th>
            </tr>
            <tr>
                <th>Field</th>
                <th>Operation</th>
                <th>Body</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-data>
            <tr *ngFor="let expression of data.expressions; let i = index">
                <td>{{expression.field}}</td>
                <td>{{expression.operation}}</td>
                <td>{{expression.body}}</td>
                <td [attr.rowspan]="data.expressions.length" *ngIf="i === 0">{{data.senders}}</td>
            </tr>
        </ng-template>
    </p-table>
</div>